<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h3>Happy Hour Lists:</h3>
        <ul id="hh-list" class="list-group">
          {{#each hhEntries}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="/view/{{this.id}}">{{hh_name}}</a> @{{this.hh_address}}
            <ul>
            <li>Drinks: {{this.hh_drinks}}</li>
            <li>Food: {{this.hh_food}} </li>
            <li>Comments: {{this.hh_description}}</li>
            </ul>
          </li>
          {{/each}}
        </ul>
        <p>pick your favorite :)</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
