    {{!-- <div class="beer"> --}}
<div id="home">
  <nav>
    <ul>
      <li><a class ="dui-elem" href="/">DUI</a></li>
    </ul>
    <ul>
      <li><a class ="nav-item" href="/view">Explore</a></li>
      <li><a class ="nav-item" href="/enter">Add</a></li>
      <li><a class ="nav-item" href="/">About</a></li>
    </ul>
  </nav>
  <div class="beer-view">
  <div class="container">
    <div class="row">
      <div class="container col-lg-8 col-md-10 col-sm-12">
        <h1>Happy Hour List:</h1>
        <ul id="hh-list" class="list-group">
          {{#each hhEntries}}
          <li data-id="{{this.id}}" class="list-group-item">
            <strong><a href="/view/{{this.id}}">{{hh_name}}</a></strong> @{{this.hh_address}}
            <div class="row">
            <div class="container col-lg-8 col-md-7 col-sm-12">
              <ul>
                <li>Drinks: {{this.hh_drinks}}</li>
                <li>Food: {{this.hh_food}} </li>
                <li>Comments: {{this.hh_description}}</li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-8">
              <a href="/view/{{this.id}}">
                <img style="width: 100%" src="{{ this.hh_imgurl }}">
              </a>
            </div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  </div>
  </div>
{{!-- </div> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
